@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: 'poppins', sans-serif;
}
 
.showcase{
position: absolute;
right: 0;
width: 100%;
min-height: 100vh;
padding: 100px;
display: flex;
justify-content: space-between;
align-items: center;
background: black;
color: white;
z-index:2 ;
}

.showcase.active{
    right: 300px;
}

.showcase header{
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 40px 100px;
z-index: 1000;
display: flex;
align-items: center;                       /* vertival */
justify-content: space-between;             /*  horizontal */
}

.logo{ 
    text-transform: uppercase;
    cursor: pointer;
}


.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url('/image/icons8-menu-67.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
   
}

.toggle.active{
    background: url('/image/close.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}

.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(233, 230, 58);
    mix-blend-mode: overlay;
     
}

.text{
    position: relative;
    z-index: 10;                 /* something greater than 2*/
}

.text h2{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;       /* transform all letters in uppercase */
}

.text h3{
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
}

.text p{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;            /* so that it cannot go all the way over */         
}

.text a{
    display: inline-block;
    font-size: 1em;
    background: white;
    padding: 10px 30px;
    text-decoration: none;      /* remove the undeline */
    color: black;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;         /* make hover smoother */
}

.text a:hover{
    letter-spacing: 6px;
}

.social{
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li{
    list-style: none;
}

.social li a{
    display: inline-block;
    filter: invert(1);     /* invert the color of the logo */
    margin-right: 20px;
    transform: scale(0.7);   /* tranform the size of the logo*/
    transition: 0.5s;          /* for smoothness in hover*/
}

.social li a:hover{
transform: scale(0.7) translateY(-15px);   /* jump in y axis in upward dir(-) */   
}

.menu{
    position: absolute;
    top: 0;
    right: 0;
    width:300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul{
    position: relative;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.menu ul li a:hover{
    color: gold;
}

@media (max-width:798px){
    .showcase,.showcase header{
        padding: 40px;
    }

    .text h2{
        font-size: 3em;
    }

    .text h3{
        font-size: 2em;
    }
}